<div>
  <div class="image-box">
    <img src="/images/<%= data["filename"] %>">
  </div>
  <div>
    <%= data["keyword"] %>
  </div>
  <div>
    <h3>タグ</h3>
    <ul>
    <% if tags.size > 0 %>
      <% tags.each do |tag| %>
        <li>
          <a href="/search?q=<%= CGI.escape tag["content"] %>&mode=tag"><%= tag["content"] %></a>
          <form action="/tags/delete/<%= data["filename"] %>" method="POST">
            <input type="hidden" name="content" value="<%= tag["content"] %>">
            <input type="submit" value="削除">
          </form>
        </li>
      <% end %>
    <% else %>
      <li>なし</li>
    <% end %>
    </ul>
    <form action="/tags/<%= data["filename"] %>" method="POST">
      <input type="text" name="content">
      <input type="submit" value="追加">
    </form>
  </div>
</div>
