<div>
  <div class="image-box">
    <img src="/images/<%= data["filename"] %>">
  </div>
  <div>
    <%= data["keyword"] %>
  </div>
  <div>
    タグ:
    <% if tags.size > 0 %>
      <% tags.each do |tag| %>
        <a href="/search?tag=<%= tag %>"><%= tag %></a>
      <% end %>
    <% else %>
      なし
    <% end %>
    <form action="/tags/<%= data["filename"] %>" method="POST">
      <input type="text" name="content">
      <input type="submit" value="追加">
    </form>
  </div>
</div>
