<%== partial :search_form, locals: { query: params["q"], mode: params["mode"] } %>
<h2>タグのない画像</h2>
<div id="recent-images">
  <% images.each do |image| %>
    <div class="image-box">
      <a href="/images/detail/<%= image["filename"] %>">
      <img src="/images/<%= image["filename"] %>?thumbnail=1">
      </a>
    </div>
  <% end %>
</div>
<div id="page">
  <% if page > 0 %>
    <a href="/images/without_tag?page=<%= page - 1 %>">&lt;</a>
  <% else %>
    &lt;
  <% end %>
  <%= page + 1 %>
  <% if images.size >= 20 %>
    <a href="/images/without_tag?page=<%= page + 1 %>">&gt;</a>
  <% else %>
    &gt;
  <% end %>
</div>
