<div id="page">
  <% if page > 0 %>
    <a href="/search?q=<%= params["q"] %>&mode=<%= params["mode"] %>&page=<%= page - 1 %>">&lt;</a>
  <% else %>
    &lt;
  <% end %>
  <%= page + 1 %>
  <% if images.size >= 20 %>
    <a href="/search?q=<%= params["q"] %>&mode=<%= params["mode"] %>&page=<%= page + 1 %>">&gt;</a>
  <% else %>
    &gt;
  <% end %>
</div>

