<%== partial :search_form, locals: { query: params["q"], mode: params["mode"] } %>
<% if images.size > 0 %>
  <h2>「<%= params["q"] %>」 の検索結果</h2>
  <div id="recent-images">
    <% images.each do |image| %>
      <div class="image-box">
        <a href="/images/detail/<%= image %>">
        <img src="/images/<%= image %>?thumbnail=1">
        </a>
      </div>
    <% end %>
  </div>
<% else %>
  <h2>「<%= params["q"] %>」 に関連する画像は見つかりませんでした</h2>
<% end %>
<%== partial :page, locals: { page: page, images: images } %>
