<%== partial :search_form, locals: { query: params["q"], mode: params["mode"] } %>
<% if images.size > 0 %>
  <h2>「<%= params["q"] %>」 の検索結果</h2>
  <div id="recent-images">
    <% images.each do |image| %>
      <div class="image-box">
        <a href="/images/detail/<%= image["filename"] %>">
        <img src="/images/<%= image["filename"] %>?thumbnail=1">
        </a>
      </div>
    <% end %>
  </div>
<% else %>
  <h2>「<%= params["q"] %>」 に関連する画像は見つかりませんでした</h2>
<% end %>
<div id="page">
  <% if page > 0 %>
    <a href="/search?q=<%= params["q"] %>&mode=<%= params["mode"] %>&page=<%= page - 1 %>">&lt;</a>
  <% else %>
    &lt;
  <% end %>
  <%= page + 1 %>
  <% if images.size >= 20 %>
    <a href="/search?q=<%= params["q"] %>&mode=<%= params["mode"] %>&page=<%= page + 1 %>">&gt;</a>
  <% else %>
    &gt;
  <% end %>
</div>
